{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="span3">
        {% include 'UtilisateursBundle:Default:modulesUsed/utilisateursConnecte.html.twig' %}
    </div>

    <div class="span9">
        <h3>PROFIL DU CONSEILLER COMMERCIAL</h3>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="span6">
                    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                    <p>{{ 'Adresse'|trans }}: {{ user.adresse }}</p>
                    <p>{{ 'Téléphone'|trans }}: {{ user.telephone }}</p>
                    <p>{{ 'Description'|trans }}: {{ user.description }}</p>
                    <p>{{ 'Année expérience evant embauche'|trans }}: {{ user.anneeExpAvtEmb }}</p>
                    <p>{{ 'Nombre client d\'année precidente'|trans }}: {{ user.nbrCltAnneePrec }}</p>
                    <p>{{ 'Profil'|trans }}: {{ user.profil }}</p>
                    <p>{{ 'Login'|trans }}: {{ user.nom }}</p>
                    <p>{{ 'Login'|trans }}: {{ user.nom }}</p>
                    <td><img src="{{ asset('uploads/' ~ user.path) }}"  width="80" height="80"></td>
                    <h5>Mes Clients:</h5>
                    <td>
                        <ul>
                        {% for en in user.client %}
                            <li>
                        <img src="{{ asset('uploads/' ~en.path) }}"  width="80" height="80">
                            </li>
                        </ul>
                    {% endfor %}

                    </td>


<hr>
                </div>
            </div>
        </div>
    </div>


    <div class="span9">
        <h3>PRESENTATION DE L'ENTREPRISE</h3>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="span6">




                </div>
            </div>
        </div>
    </div>





</div>

<div class="fos_user_user_show">

</div>
