{% extends '::layout/layoutAdmin.html.twig' %}


{% block body -%}
    <style>
        .multiselect-container>li>a>label {
            padding: 4px 20px 3px 20px;
        }


    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" type="text/css" />



    <form id="jsForm" class="form-group" action="" method="GET">
        <input type="text" id="r_count" name="r_count" style="display:none;">
        <input type="text" id="m_count" name="m_count" style="display:none;">

        <h4>Mes activités:</h4>
        <textarea rows="4" cols="50" style="margin: 0px 0px 10px; width: 476px; height: 75px;" name="activite"></textarea><br>
        selectionner rubrique principale  :
        <div id="contenu_lists">
            <div id="select_rub_prest">
                <select {#class="selectpicker "   multiple data-max-options="1" data-live-search="true"#} id="select-rubrique" name="sel">
                    <option  selected >Selectionné une rubrique</option>
                    {% for rubriqu in rubriques %}

                        <option value="{{ rubriqu.id }}" >{{ rubriqu.libelle }}</option>
                    {% endfor %}
                </select>

                <span id="prestaAjax" style="display: none">
        <img src='../../web/ajax-loader.gif' alt='loading...'  height="25" width="25"/>
        </span>
                <select   id="prestation" multiple="multiple" name="prest">
                    <option  selected >Selectionné une prestation</option>
                </select> <br>
            </div>
        </div>


        {# <select id="chkveg" multiple="multiple">

             <option value="cheese">Cheese</option>
             <option value="tomatoes">Tomatoes</option>
             <option value="mozarella">Mozzarella</option>
             <option value="mushrooms">Mushrooms</option>
             <option value="pepperoni">Pepperoni</option>
             <option value="onions">Onions</option>

         </select>
 #}

        <button id="addrub-btn" type="button" class="btn btn-info bouton-1" data-toggle="collapse" data-target="#demo-1" >
            Ajouter rubrique suplémentaire  </button>

        &nbsp&nbsp <td>Autres</td>  <input id="addrub-btn" type="text"  placeholder="Renseigner la prestation ou le produit souhaité" data-toggle="collapse" data-target="#demo-1" name="sup">
        </input>
        <fieldset>
            <legend>Vos Marques:</legend>   <h4></h4>
            {#<div id="contenu_marq" style=" display: inline-block" >
                <div   >
                    <input type="text" class="form-control"style=" margin-top: 10px;" >
                </div>
            </div>

                    <button id="addmarq-btn" type="button" class="btn btn-info bouton-1" data-toggle="collapse" data-target="#demo-1" >
                        Ajouter une marque </button>#}

            <div class="input_fields_wrap" id="set_now" >
                <div id="marq" style=" display: inline-block" >
                    <input type="text" name="marque" id="marque" class="form-control" style=" margin-top: 10px;"  placeholder="Ecrire votre marque">
                </div>

            </div>
            <button class="add_field_button btn btn-info bouton-1" type="button">Ajouter une marque</button>
        </fieldset>

        <fieldset>
            <legend>Ma visibilité sur</legend>
            <div class="">
                <h5></h5>
            </div>

            <input  style="display:none;" type="text" id="amal" value="">



            <div class="test">
                <ul class="thumbnails" style="margin-left: -180px">

                    <li id="">
                        <div align=center class="col-md-3" style="background-color: white; height:210px; overflow-y:scroll;">



                            <div class="titre">Ville principale</div>
                            <div class="tex">
                                <input id="select" class="my-activitys" type="radio" name="villes" value="9">Casablanca

                            </div>
                            <div class="tex">
                                <input id="select" class="my-activitys" type="radio" name="villes" value="10">Rabat

                            </div>
                            <div class="tex">
                                <input id="select" class="my-activitys" type="radio" name="villes" value="14">Fes

                            </div>
                            <div class="tex">
                                <input id="select" class="my-activitys" type="radio" name="villes" value="16">Tanger

                            </div>
                            <div class="tex">
                                <input id="select" class="my-activitys" type="radio" name="villes" value="4">Agadir

                            </div>


                            {% for ville in villes %}
                                <div class="tex" >
                                    <input id="select" class="my-activitys" type="radio" name="villes"  value="{{ ville.region.coderegion }}"/>{{ ville.libelle }}

                                </div>
                            {% endfor %}

                        </div>
                    </li>

                    <li id="">
                        <div align=center class="col-md-3" style="background-color: white; height:210px; overflow-y:scroll;">

                            <div class="titre">Ville supplementaires</div>

                            <h5><input type="radio" id="chk1" name="chk2"   class="my-activity"  value="0">Sur sa localité</h5>


                            <h5><input type="radio" id="chk2" name="chk2"   class="my-activity"  value="1">+1 localité</h5>


                            <h5><input type="radio" id="chk3" name="chk2"   class="my-activity"  value="3">+3 localité</h5>


                            <h5><input type="radio" id="chk4" name="chk2"   class="my-activity"  value="6">+6 localité</h5>

                            <h5><input type="radio" id="chk4" name="chk2"   class="my-activity"  value="9">+9 localité</h5>

                        </div>
                    </li>


                    <li id="">
                        <div align=center class="col-md-3" style="background-color: white; height:210px; overflow-y:scroll;">



                            <div class="titre">Region principale</div>

                            {% for  entities in entities %}
                                <div class="tex xxx" >
                                    <input id="select" class="regiontest" type="radio" name="regions"  value="{{ entities.coderegion }}"/>{{ entities.libelle }}

                                </div>
                            {% endfor %}

                        </div>
                    </li>

                    <li id="">
                        <div align=center class="col-md-3" style="background-color: white; height:210px; overflow-y:scroll;">

                            <div class="titre">Region supplementaires</div>

                            <h5><input type="radio" id="chk1" name="chk1"   class="region"  value="0">Sur sa region</h5>


                            <h5><input type="radio" id="chk2" name="chk1"   class="region"  value="1">+1 region</h5>


                            <h5><input type="radio" id="chk3" name="chk1"   class="region"  value="3">+3 region</h5>


                            <h5><input type="radio" id="chk4" name="chk1"   class="region"  value="6">+6 region</h5>

                            <h5><input type="radio" id="chk4" name="chk1"   class="region"  value="N">National</h5>

                        </div>
                    </li>


                </ul>

                <div>
                    <tr><td>    budget estimé</td> <td><input type="text" id="rania"   value=""></td></tr>
                </div>
            </div>
        </fieldset>
        <button type="button" name="test" id="ajax_test">Test</button>

    </form>
    <a type="button" name="test" id="ajax_test" target="_blank" href="{{ path('referencement_commande_getting') }}">getting</a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>


    <script type="text/javascript">
        $(document).ready(function() {

            $('#ajax_test').on('click', function (){

                form =$('#jsForm ');
                var r= $('#r_count').val();
                var  m= $('#m_count').val();
                var mar= $('#set_now').serialize();
                var rub=

                    console.log(rub);

                var data_send = { 'r_count': r,'m_count' : m};

                $.ajax({
                    url: '{{ path('referencement_commande') }}',
                    type: 'POST',
                    data: form.serialize(),
                    statusCode: {
                        //traitement en cas de succès
                        200: function (response) {
                            var successMessage = response;

                            console.log(successMessage.test);
                            console.log(successMessage.m_count);
                            console.log(successMessage.r_count);
                            console.log(successMessage);
                            /*  $('#prestation').children("option").remove();*/
                            //on vide les champs formulaires ou on le supprime ou ...
                            //on retire le loader...
                        },
                        //traitement en cas d'erreur (on peut aussi traiter le cas erreur 500...)
                        412: function (response) {
                            var errorsForm = response.responseJSON.formErrors;
                            //on affiche les erreurs...
                            alert('error');

                        }
                    }
                });

            });

            $(function() {

                /*  $('#prestation').multiselect({

                 includeSelectAllOption: true

                 });*/

                $('#chkveg').multiselect({

                    includeSelectAllOption: true

                });

                $('#btnget').click(function() {

                    alert($('#chkveg').val());

                })

            });

            /*  var rubrique = $(this);
             console.log(rubrique .val());*/

            // declanché lorsqu'on change le choix de la rub
            $(document).on('change', '#select-rubrique', function () {
                var current = this;
                var rubrique = $(this);


                $('#prestaAjax').css('display','');
                console.log("CHANGE rubrique AND prestation....................");
                var select = jQuery(this);
                var r = rubrique.val();
                console.log('rubrique sss: ', r);
                //     console.log('rubrique : ', r);
                var data_send = { 'rubrique': r};
                $.ajax({
                    url: '{{ path('ajax') }}',
                    type: 'POST',
                    data: data_send,
                    statusCode: {
                        //traitement en cas de succès
                        200: function (response) {
                            var successMessage = response;

                            /*  $('#prestation').children("option").remove();*/

                            $(current).siblings("select").first().find("option").remove();


                            $.each(JSON.parse(successMessage), function(i, pres) {
                                $(current).siblings("select").first().append(('<option  value="' +pres.id+'">'+pres.prestation+'</option>'));



                                /* $(current).next().remove();*/



                                $('#prestaAjax').css('display','none');
                            });
                            $('#prestaAjax').css('display','none');
                            //on vide les champs formulaires ou on le supprime ou ...
                            //on retire le loader...

                        },
                        //traitement en cas d'erreur (on peut aussi traiter le cas erreur 500...)
                        412: function (response) {
                            var errorsForm = response.responseJSON.formErrors;
                            //on affiche les erreurs...
                            alert('error');
                            $('#prestaAjax').css('display','none');
                        }
                    }
                });
                //   $( "#select-rubrique" ).clone().appendTo("#test");
            });
            //declanche lorsqu'on clique sur btn addrub-btn
            var count = 1 ;
            $('#addrub-btn').on('click', function (){
                if (count < 5) {

                    var duplicatedLists = $("#select_rub_prest").last().clone();
                    duplicatedLists.find('#select-rubrique').prop('name','sel'+count);
                    duplicatedLists.find('#prestation').prop('name','prest'+count);
                    duplicatedLists.appendTo("#contenu_lists");
                    $('#r_count').val(count);
                    count++;
                }
            });




        });

        /*var result_final = 400;
         var n = $('#marq').length;
         $('#addmarq-btn').on('click', function (e){

         var duplicatedLists = $("#marq").last().clone().find(":input").val('');

         duplicatedLists.appendTo("#contenu_marq").parent();

         var result = parseInt(n) * 400;
         result_final = result_final+ result;


         console.log(result_final);



         });*/


        var max_fields      = 10; //maximum input boxes allowed
        var wrapper         = $(".input_fields_wrap"); //Fields wrapper
        var add_button      = $(".add_field_button"); //Add button ID
        var result_final = 400;

        var n = $('#marq').length;
        var x = 1; //initlal text box count
        $(add_button).click(function(e){ //on add input button click
//            e.preventDefault();
            if(x < max_fields){ //max input box allowed
                //text box increment
//                $(wrapper).append('<div><input type="text" name="mytext[]"/><a href="#" class="remove_field">Remove</a></div>'); //add input box

                var duplicatedLists = $("#marq").last().clone();
                duplicatedLists.find('#marque').prop('name','marque'+x);
                duplicatedLists.appendTo("#set_now");
                var result = parseInt(n) * 400;
                result_final = result_final+ result;
                $('#m_count').val(x);
                x++;
            }
            console.log(result_final);
        });

        $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
            e.preventDefault(); $(this).parent('div').remove(); x--;
            result_final = result_final - 400;
            console.log(result_final);
        });

        {# </script>




         <script type="text/javascript">
             $(document).ready(function() {#}
        cal();
        function cal(){
            var total = +$("#rania").val() || 0;
            var vat = +$("#mari").val() || 0;
            $("#fayssal").val(vat + total);
        }
        var sum_result =0;
        var total = 0;

        $(document).on('click', '.my-activitys', function () {
            var o = $(this).attr("value");
            $('.xxx input[value='+o+']').prop("checked", true);
        });

        $(document).on('click', '.my-activity', function () {

            var ctar  = 'MV';
            console.log("CHANGE rubrique AND prestation....................");
            var select = jQuery(this);
            var v = $('input[name=villes]:checked').val();
            var o = $(this).attr("value");

            console.log('ville : ', v, 'opt1 :',o);
            var data_send = { 'ville': v,'opt1':o,'region':v,'ctar':ctar};
            $.ajax({
                url: '{{ path('ajaxRef') }}',
                type: 'POST',
                data: data_send,
                statusCode: {
                    //traitement en cas de succès
                    200: function (response) {

                        var successMessage = response.nom.VAR;


                        $('input[id=rania]').val(successMessage);

                        cal();

                    },

                    412: function (response) {
                        var errorsForm = response.responseJSON.formErrors;
                        //on affiche les erreurs...
                        alert('error');

                    }
                }
            });

        });


        $(document).on('click', '.region', function () {

            var ctar  = 'ML';
            console.log("CHANGE rubrique AND prestation....................");
            var select = jQuery(this);
            var v = $('input[name=villes]:checked').val();
            var o = $(this).attr("value");

            console.log('villesss : ', v, 'opt1sss :',o);
            var data_send = { 'ville': v,'opt1':o,'region':v,'ctar':ctar};
            $.ajax({
                url: '{{ path('ajaxRef') }}',
                type: 'POST',
                data: data_send,
                statusCode: {
                    //traitement en cas de succès
                    200: function (response) {

                        var successMessage = response.nom.VAR;


                        $('input[id=rania]').val(successMessage);
                        cal();
                        /* console.log();
                         $('input[id=rania]').val(sum_result+successMessage);*/

                    },

                    412: function (response) {
                        var errorsForm = response.responseJSON.formErrors;
                        //on affiche les erreurs...
                        alert('error');

                    }
                }
            });

        });


        /*    $(document).on("keydown keyup", function() {

         sum();


         function sum() {
         var num1 = document.getElementById('num1').value;
         var num2 = document.getElementById('num2').value;
         var num3 = document.getElementById('num3').value;


         var result = parseInt(num1) * 3;
         var result2 = parseInt(num2) * 1500;
         var result3 = parseInt(num3) * 400;

         if (!isNaN(result)) {
         document.getElementById('sum').value = result;
         document.getElementById('sum2').value = result2;
         document.getElementById('sum3').value = result3;

         }
         document.getElementById("mari").value = result2 + result3 ;

         sum_result =  result2 + result3;
         cal();
         }



         });*/






    </script>

{% endblock %}


